# Virtual environments
venv/
env/
ENV/
.venv/
virtualenv/
.virtualenv/
*env/
*venv/
mem0env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Dotfiles
.*
!.gitignore
!.gitattributes
!.github/
!.gitlab-ci.yml
!.travis.yml
!.editorconfig
!.eslintrc*
!.prettierrc*
!.babelrc*
!.dockerignorecompetitive/superdemo/frontend/node_modules/
competitive/superdemo/frontend/dist/
